<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/index.css">

    <title>Reflezy</title>

</head>

<body>

    <div id="overlay"></div>

    <div id="resultado">

        <p style="font-size: 25px;">Acabou o tempo!</p>

        <p style="font-size: 25px;" id="pontFinal">Sua pontuação foi de: </p>

        <p style="font-size: 25px;">Salve com 3 LETRAS</p>

        <input type="text" id="nome" maxlength="3" style="font-size: 25px; font-family: 'SpeedRush'; text-align: center; width: 50px; background-color: transparent; padding: 10px; width: 100px;">

        <button type="button" id="btnSalvar" onclick="salvarJogo()" style="color: black;">SALVAR</button>
        
        <button type="button" id="btnReiniciar" onclick="reiniciarJogo()" style="color: black;">REINICIAR</button>

    </div>

    <h1 style="font-size: 70px; cursor: pointer;" onclick="location.reload();" id="logo">R</h1>

    <button type="button" id="btnIniciar" onclick="inicalizarJogo()">INICIAR</button>

    <button type="button" id="btnRecordes" onclick="mostrarRecordes()">RECORDES</button>

    <div id="game">

        <div id="quadro"></div>

        <p id="tempo" style="font-size: 20px;">Segundos restantes: 60</p>

        <p id="pontuacao" style="font-size: 20px;">Pontuação: 0</p>

    </div>

    <div id="recordes">
        <div id="tabela"></div>
    </div>

    <script src="../static/js/index.js"></script>
    
</body>

</html>