@font-face {
    font-family: 'SpeedRush';
    src: url('../font/SpeedRush-JRKVB.ttf');
    font-weight: normal;
  
}

#overlay{

    display: none;

    position: fixed;

    width: 100%;

    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    justify-content: center;

    align-items: center;

    flex-direction: column;

    z-index: 999;

}

#resultado {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    color: black;
    background-color: rgb(177, 177, 177);
    z-index: 1000;
    position: absolute;
    width: 400px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body{

    background-color: black;

    color: rgb(177, 177, 177);

    margin: 0;

    display: flex;

    justify-content: center;

    align-items: center;

    flex-direction: column;

    font-family: 'SpeedRush';

}

button {
    margin: 10px;
    font-family: 'SpeedRush';
    font-size: 30px;
    padding: 10px 20px;
    border: none;
    color: rgb(177, 177, 177);
    background-color: transparent;
    cursor: pointer;
    margin-top: 20px;
    padding-bottom: 15px;

    border-radius: 5px 10px 5px 10px;
    transition: color 1s ease; /* Alteração aqui para aplicar transição apenas à cor do texto */
}

button:hover {
    background: linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red);
    background-size: 600% 600%;
    animation: rainbow 4s linear infinite;
    color: black;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



#game{

    display: none;

    flex-direction: column;

    text-align: center;

}

#quadro{
    position: relative;
    display: flex;
    border: 5px solid rgb(177, 177, 177, 0.1);
    width: 1000px;
    height: 500px;
    padding: 30px;
}

.bolinha {
    position: absolute;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    margin: 15px;
}
